<div class="row">
  <div class="col-xs-1">
    <a ng-click="goBack()" class="btn btn-info">&larr; Back</a>
  </div>
  <div class="col-xs-1 text-center">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    <h4>{{ question.score }}</h4>
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </div>
  <div class="col-xs-10">
    <h1>{{ question.content }}</a>
    <small>- {{ question.user.firstName }} {{ question.user.lastName }}</small>
    </h1>
  </div>
</div>

<form ng-submit="submitComment()" role="form" ng-show="loggedIn()">
  <div class="form-group">
    <label for="content">Comment</label>
    <textarea type="text" class="form-control" id="content" placeholder="Comment goes here" ng-model="newComment.content"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div ng-hide="loggedIn()">
  <h3>Log in to post comments</h3>
</div>

<hr>

<div class="well item" ng-repeat="comment in comments track by comment.id">
  <p>{{ comment.content }}</p>
  <small>- 
    <strong>{{ comment.user.firstName }}  {{ comment.user.lastName }}</strong>
     commented <span am-time-ago="comment.createdAt"></span>
  </small>
</div>