<div class="row">
  <div class="col-sm-7">
    <h1>Ask and Receive in Realtime</h1>
    <p class="lead">RealOverflow is a question-answer app for instant help on all topics.</p>
  </div>
  <div class="col-sm-5">
    <div class="well item" ng-repeat="question in questions track by question.id">
      <div class="row">
        <div class="col-xs-2 text-center">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          <h4>{{ question.score }}</h4>
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </div>
        <div class="col-xs-10">
          <h4><a ng-href="/questions/{{ question.id }}/comments">{{ question.content }}</a>
          <small>- {{ question.user.firstName }} {{ question.user.lastName }}</small>
        </h4>
        </div>
      </div>
    </div>
  </div>
</div>