<div class="row">
  <div class="col-sm-7">
    <div class="row">
      <h1>Ask and Receive in Realtime</h1>
      <p class="lead">RealOverflow is a question-answer app for instant help on all topics.</p>
    </div>
    <div class="row text-center">
      <div class="col-xs-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Ask</h3>
        <p>Utilize a powerful community forum to ask those questions that stump you.</p>
      </div>
      <div class="col-xs-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Answer</h3>
        <p>Help out others while obtaining internet karma by answering questions.</p>
      </div>
      <div class="col-xs-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-refresh fa-spin fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Always</h3>
        <p>RealOverflow gives you results in <strong>real time</strong>, so you never waste a second.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>See what our users have to say!</h2>
    </div>
    <div class="row">
      <div class="row">
      <div class="col-sm-4">
        <img src="http://www.fillmurray.com/g/600/401" class="img-center img-responsive" alt="Bill Murray">
      </div>
      <div class="col-sm-8">
        <blockquote>
          <p>I'd highly recommend <strong>RealOverflow</strong>. It's as real as me showing up in random parks.</p>
          <footer>Bill Murray, Actor</footer>
        </blockquote>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <img src="https://tribisc.files.wordpress.com/2015/05/tom-brady.jpg" class="img-center img-responsive" alt="Tom Brady">
      </div>
      <div class="col-sm-8">
        <blockquote>
          <p>Winners like me use <strong>RealOverflow</strong>. Malcolm and I study up on football strategy to reduce game-blowing interceptions.</p>
          <footer>Tom Brady, Super Bowl Champion</footer>
        </blockquote>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div infinite-scroll="homeScroll=false; loadQuestions(); homeScroll=true" infinite-scroll-disabled="homeScroll">
      <div class="well item" ng-repeat="question in questions track by question.id">
        <div class="row">
          <div class="col-xs-2 text-center">
            <h4>{{ question.score }}</h4>
          </div>
          <div class="col-xs-10">
            <h4><a ng-href="/questions/{{ question.id }}/comments">{{ question.content }}</a>
            <small>-
              <strong>{{ question.user.firstName }} {{ question.user.lastName }}</strong>
              asked this <span am-time-ago="question.createdAt"></span>
            </small>
          </h4>
          </div>
        </div>
      </div>
    </div>
    <p class="lead">See more questions on the <a href="/questions">Questions page</a>
  </div>
</div>