<form ng-submit="submitQuestion()" role="form" ng-show="loggedIn()">
  <div class="form-group">
    <h2 for="content">Submit a Question</h2>
    <textarea type="text" class="form-control" id="content" placeholder="How do I setup a RESTful API?" ng-model="newQuestion.content"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div ng-hide="loggedIn()">
  <h3><a href ng-click="openLoginModal()">Log in</a> to post questions</h3>
</div>

<hr>

<div infinite-scroll="loadQuestions()" infinite-scroll-disabled="scrollDisabled">
  <div class="well item" ng-repeat="question in questions track by question.id">
    <div class="row">
      <div class="col-xs-1 text-center">
        <span class="glyphicon glyphicon-arrow-up" ng-click="up($index)" aria-hidden="true"></span>
        <h4>{{ question.score }}</h4>
        <span class="glyphicon glyphicon-arrow-down" ng-click="down($index)" aria-hidden="true"></span>
      </div>
      <div class="col-xs-11">
        <h4><a ng-href="/questions/{{ question.id }}/comments">{{ question.content }}</a>
        <br>
        <small> 
          <strong>{{ question.user.firstName }} {{ question.user.lastName }}</strong>
           asked this <span am-time-ago="question.createdAt"></span></small>
      </h4>
      </div>
    </div>
  </div>
</div>