<form ng-submit="submitQuestion()" method="POST" role="form">
  <div class="form-group">
    <label for="content">Submit a Question</label>
    <textarea type="text" class="form-control" id="content" placeholder="Be descriptive. Saying vague words like 'I have an error' will result in your question being deleted without notice." ng-model="content"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>

<div class="well item" ng-repeat="question in questions track by $index">
  <h2><a ng-href="/questions/{{ question.id }}/comments">{{ question.content }}</a>
    <small>- {{ question.user.firstName }} {{ question.user.lastName }}</small>
  </h2>
</div>