<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

  <title></title>
</head>
<body ng-app="RealOverflow">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RealOverflow</a>
    </div>
  
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/questions">Questions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
        <li><a ng-click="openLoginModal()">Login</a></li>
        <li><a ng-click="openSignupModal()">Signup</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <ng-view></ng-view>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/app/js/app.js"></script>
  <script type="text/javascript" src="/app/js/services/auth.js"></script>
  <script type="text/javascript" src="/app/js/controllers/HomeCtrl.js"></script>
  <script type="text/javascript" src="/app/js/controllers/AboutCtrl.js"></script>
  <script type="text/javascript" src="/app/js/controllers/QuestionCtrl.js"></script>
  <script type="text/javascript" src="/app/js/controllers/CommentCtrl.js"></script>
  <script type="text/javascript" src="/app/js/controllers/LoginCtrl.js"></script>
</body>
</html>