@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

/* Needed for UI Bootstrap, since there's no href for these links */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,.navbar {
  font-family: 'Source Sans Pro', sans-serif;
}

.alerts-container {
  min-height: 65px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.well {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow:  none;
  background: white;
  border-bottom: 1px solid #eee;
}

#about {
  border: 0;
}

blockquote {
  border-left: 5px solid #217987;
}

.btn-info, .btn-primary {
  background: #217987;
}

.navbar-brand .stack {
  color: red;
  font-weight: 900;
}

textarea {
  max-width: 100%;
}

.btn, .btn-primary, .btn-warning, .btn-danger {
  border-radius: 0;
  border: 0;
}

/* hide elements with ng-cloak until loaded */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.item.ng-enter, .item.ng-move {
  animation: fadeInUp 1s;
}

.auth-btns.ng-hide-remove {
  animation: fadeInRight 1s;
}

.alert {
  margin-bottom: 0;
}

.alert.ng-enter {
  animation: fadeInDown 1s;
}

.alert.ng-leave {
  animation: fadeOutUp 1s;
}

h1 {
  margin-top: 0;
}

.page-comments.ng-enter {
  opacity: 0;
  animation: fadeInLeft .25s;
  animation-delay: .25s;
}
.page-comments.ng-leave {
  animation: fadeOutRight .25s;
}

.page-home.ng-enter {
  opacity: 0;
  animation: fadeIn .25s;
  animation-delay: .25s;
}
.page-home.ng-leave {
  animation: fadeOut .25s;
}

.page-questions.ng-enter {
  opacity: 0;
  animation: fadeIn .25s;
  animation-delay: .25s;
}
.page-questions.ng-leave {
  animation: fadeOut .25s;
}

.page-about.ng-enter {
  opacity: 0;
  animation: fadeIn .25s;
  animation-delay: .25s;
}
.page-about.ng-leave {
  animation: fadeOut .25s;
}

.img-center {
  margin: 0 auto;
}

button.close span {
  display: none;
}

.modal-content {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
}

textarea.form-control {
  transition: padding .5s ease;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control:focus {
  transition: padding .5s ease;
  padding: 10px;
}

/* footer code from Bootstrap */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  overflow-x: hidden;
  margin-bottom: 60px;
  min-height: 900px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 15px;
}

.navbar-default {
  background: white;
}

.navbar-toggle {
  border-radius: 0;
  border: 0;
}

.glyphicon-arrow-up, .glyphicon-arrow-down {
  cursor: pointer;
}
